# Popularity-based Recommendation System

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Import dataset

In [2]:
frame_rating = pd.read_csv("rating_final.csv")
frame_cuisine = pd.read_csv("chefmozcuisine.csv")

### Let's have a closer look at the dataset

In [3]:
frame_rating.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [4]:
frame_cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

### Recommending based on counts

In [5]:
df_ratingCount = pd.DataFrame(frame_rating.groupby("placeID")["rating"].count().sort_values(ascending = False))

In [6]:
df_ratingCount.head()

         rating
placeID
135085       36
132825       32
135032       28
132834       25
135052       25

### Let's take the top 5 most rated places, and check for any similarities in cuisine served here

In [7]:
most_rated_places = pd.DataFrame([135110, 132825, 135032, 132834, 135052], index = np.arange(5),
                                columns = ["placeID"])

In [8]:
summary = pd.merge(most_rated_places, frame_cuisine, on = "placeID")

In [9]:
summary

   placeID         Rcuisine
0   135110          Spanish
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   132834          Mexican
5   135052              Bar
6   135052  Bar_Pub_Brewery

From the above output, we can state that:

* Two of the top five most rated places serves Mexican food

In [10]:
frame_cuisine["Rcuisine"].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

From the description of our cuisine dataframe, we can state that:

* Mexican is the frequently served kind of cuisine in the dataset

### Final Verdict from Popularity based recommendation for the given dataset:

> * Mexican food is popular, and that it is most frequently kind of served cuisine.


>* Our Popularity-based recommendation is suggesting that, places that serve the most popular types of cuisines (In our case, Mexican), are more likely to be appreciated by the avreage restaurants goers.

___